.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    .wrapper-loader{
        position: relative;
        left: 30px;
        width: 180px;
    }
}
